*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box a{
    text-decoration: none;
    color: white;
}

.mLogo{

}

.mTitle{

}

.fBox{

}

.fText{
    
}